################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChargingSystem.VC.db
/ChargingSystem.VC.VC.opendb
